/* Resets */

* {
    box-sizing: border-box;
    appearance: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
}

ul {
    list-style: none;
}

/*  */
h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: .5rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    margin: .5rem 0;
}

input, button {
    border-radius: 10px;
    border: none;
    padding: .2em .5em;
    background: #e7e5e4;
}

img {
    width: 1.5rem;
    height: 1.5rem;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header {  
    display: grid;
    grid-template: 1fr 1fr / repeat(auto-fit, minmax(min(100%, max(250px, 50%)), 1fr));
}

.header * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header > .account-media-controls {
    display: flex;
    gap: .5rem;
}
.account-media-controls > button {
    flex: 1;
}

.account-welcome > .welcome-message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.account-welcome > .profile-picture {
    width: 3rem;
    height: 3rem;
}

.dashboard {
    grid-area: 2 / 2 / span 1 / span 1;
    background: #e7e5e4;
    display: grid;
    grid-template: min-content 1fr / 2fr 1fr;
}

.dashboard > div {
    margin: 1rem;
}

.item-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%), 1fr));
    gap: .5rem;
}

.side-wrapper {
    gap: 0;
}

.item { 
    background-color: #78716c;
    width: auto;
    height: 200px; 
}

.side-wrapper > .item {
    height: auto;
}

.projects {
    grid-area: 1 / 1 / span 2 / span 1;
}

.announcements {
    grid-area: 1 / 2 / span 1 / span 1;
}

.trending {
    grid-area: 2 / 2 / span 1 / span 1;
}

.sidebar {
    grid-area: 1 / 1 / span 2 / span 1;
    background: #78716c;
    color: white;
    display: grid;
    grid-template-rows: 50px 15em 20px auto;
    grid-template-columns: 160px;
    padding: .5rem;
}

.sidebar h2 {
    margin-left: 1rem;
}

li {
    display: flex;
    margin: 1rem 0;
}

#navigation {
    grid-row: 2 / span 1;
}

#settings {
    grid-row: 4 / span 1;
}

#logo {
    display: flex;
    justify-content: center;
    grid-row: 1 / span 1;
}

#logo > img {
    width: 50px;
    height: 50px;
}


